Source: canvas
Section: utils
Priority: optional
Maintainer: Lukasz Grabski <activey@doaplatform.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.3

Package: canvas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Here will be the description eventually