.canvas_view {
    background-image:
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);
    background-size: 64px 64px;
}

.canvas_minimap { 
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    background: rgba(255, 255, 255, 0.1);
 }

 .canvas_scale { 
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 5px;
    border-color: gray;
    background: rgba(255, 255, 255, 0.1);
    border-style: solid;
    padding: 10px;
    margin: 10px;
 }
 
 .canvas_properties_toggle {
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    background: rgba(255, 255, 255, 0.1);
    border-style: solid;
    padding: 10px;
    margin: 10px;
 }

 .canvas_node_expander {
    margin: 6px;
 }
 
.node_chooser_label_text {
    font-size: smaller;
}

.property_label_text {
    font-size: smaller;
}

.rounded {
    border-radius: 5px;
}

.rounded_top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rounded_bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rounded_bottom_left {
    border-bottom-left-radius: 5px;
}

.rounded_bottom_right {
    border-bottom-right-radius: 5px;
}
